#titlediv{
	background-image: url(../lab08/images/left_nav_title.gif);
	width:183px;
	height:35px;
	color:white;
	text-align:center;
	padding-top:10px;
	display:block;
}
#red{
	display:block;
}
ul{
	list-style-type:none;
	list-style-image: url(../lab08/images/left_cur.gif); 
	background-image: url(../lab08/images/left_nav_txt.gif);
	width: 183px;
}
ul li{
	width: 183px;
	margin-left: 40px;
	height: 30px;
	padding-top: 5px;
	background-repeat: no-repeat;
	background-position: -3em 90%;
}
#footerdiv{
	background-image:url(../lab08/images/left_nav_bottom.gif);
	width: 183px;
	height: 35px;
	display:block;
}